.idea
.run
.zed

# Data directories
SPT_Data
EscapeFromTarkov_Data
Logs
MonoBleedingEdge
NLog

# Not syncing server side mods any more
user

# Subdirectories we don't want to sync
BepInEx/cache
BepInEx/core
BepInEx/patchers
BepInEx/**/*.log
BepInEx/plugins/DanW-SPTQuestingBots/log

# QuestingBots has its own logs that we don't need to sync
user/mods/DanW-SPTQuestingBots/log
user/**/mods/**/logs
**/log.log
# Compiled JS files and their maps
*.js
*.js.map

# Everything in the root folder
/*.exe
/*.ini
/*.txt
/*.log
/*.dll
/*.dxvk-cache
