## Settings file was created by plugin notGreg's Scope Tweaks v3.8.0
## Plugin GUID: com.notGreg.scopeTweaks

[Debug]

# Setting type: Boolean
# Default value: false
Enable debug logging = false

